<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>partner_marker</key>
	<string>293117</string>
	<key>api_token</key>
	<string>77fb4378b1d8e2b3414bf188cf63628e</string>
	<key>appodeal_key</key>
	<string>6ff55672203d8d18fb8cc3976d2d62b9</string>
	<key>flights_enabled</key>
	<true/>
	<key>hotels_enabled</key>
	<true/>
	<key>default_locale</key>
	<string>ru</string>
	<key>firebase_enabled</key>
	<true/>
	<key>app_description</key>
	<dict>
		<key>en</key>
		<string>We search for the cheapest airfare for flights around the world, including charters and low-cost flights. 
We don&apos;t sell tickets ourselves, but help you find the best option without commission through more than 100 partner agencies.
</string>
		<key>ru</key>
		<string>Мы ищем самые дешёвые авиабилеты на рейсы по всему миру, включая чартеры и лоукосты. 
Мы не продаём билеты сами, а помогаем найти лучший вариант без комиссии с помощью более 100 агентств-партнеров.
(английская локаль)
</string>
	</dict>
	<key>feedback_email</key>
	<string></string>
	<key>car_rental_link</key>
	<string>https://appstarway.su/travel-ios-cars</string>
	<key>itunes_link</key>
	<string></string>
	<key>search_params</key>
	<dict>
		<key>default_currency</key>
		<string>USD</string>
		<key>flights_origin</key>
		<string>BOS</string>
		<key>flights_destination</key>
		<string>NYC</string>
		<key>available_airlines</key>
		<array/>
		<key>hotels_city</key>
		<dict>
			<key>id</key>
			<string>13964</string>
			<key>selectable</key>
			<true/>
			<key>names</key>
			<dict>
				<key>en</key>
				<string>Venice</string>
				<key>ru</key>
				<string>Венеция</string>
			</dict>
			<key>headers</key>
			<dict>
				<key>en</key>
				<string>Search the best place to rest in Venice</string>
				<key>ru</key>
				<string>Лучшие цены на отели в Венеции</string>
			</dict>
		</dict>
	</dict>
	<key>external_links</key>
	<dict>
		<key>en</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
		<key>ru</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>color_params</key>
	<dict>
		<key>main_color</key>
		<string>#33c3ff</string>
		<key>action_color</key>
		<string>#CE0755</string>
	</dict>
</dict>
</plist>
