<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91475141035-r9bm7ggsem0ppsto5lua176940rre0o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91475141035-r9bm7ggsem0ppsto5lua176940rre0o0</string>
	<key>API_KEY</key>
	<string>AIzaSyCHen-ysM-bCntn7akXjkdCoR3_Gq6rq7o</string>
	<key>GCM_SENDER_ID</key>
	<string>91475141035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starway.cheap.flights</string>
	<key>PROJECT_ID</key>
	<string>cheap-flights-ios-eaa38</string>
	<key>STORAGE_BUCKET</key>
	<string>cheap-flights-ios-eaa38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91475141035:ios:a2f07fa1ace1880392b2ee</string>
</dict>
</plist>